

#img{
  /* width: px; */
  /* height: 350px; */
  background: #ffff;
}



#btn{
  width: 100px;
  height: 100px;
}
#icon{
  width: 30px;
  height: 30px;
  margin: 5px;
  color: black;
}

.card-img-top{
  /* width: 350px; */
  height: 300px;
}

#p{
  display: block;
  position: fixed;
  background: white;
  color: black;
}

#form{
  width: 500px;
  padding: 20px;
  margin-bottom: 115px;
}


#formSign{
  width: 500px;
}

#error{
  height: 500px;
}

#link{
  text-decoration: none;
}

#nav{
  width: 100%;
}

#navLink{
  font-size: 20px;
}

#logo{
  width: 30px;
}

#contacts{
  margin-left: 30px;
}

.second-navbar {
  background-color: #f0f0f0; 
  color: rgb(255, 255, 255); 
  padding: 8px;
}

.second-navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the links horizontally */
}

.second-navbar li {
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
}

